
/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clear {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*end reset*/

body {
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    font-size: 100%;
    font-family: 'Cuprum', sans-serif;
    min-height: 100vh;
}

/*-- title --*/

h1 {
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    font-style: italic;
    margin: 2vw 1vw 2.5vw;
    font-weight: 600;
}

h1 span {
    color: #0CBF86;
}

/*-- //title --*/

/*-- content --*/

.sub-main-validi {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.sub-main-validi form {
    max-width: 600px;
    margin: 0 5vw;
    background: rgba(10, 10, 10, 0.2);
    padding: 3vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 6px solid #0cbf86;
    border-radius: 30px;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.27);
}

.form-group {
    margin-bottom: 1.5em;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.sub-main-validi label {
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin-bottom: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.sub-main-validi label i {
    font-size: 15px;
    margin-left: 5px;
    color: #03A9F4;
    border-radius: 50%;
    line-height: 1.9;
    text-align: center;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="mobile"],
.form-group select[type="dropdown"] {
	
    width: 100%;
    color: #fff;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 13px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #fff;
    background: rgba(14, 14, 14, 0.54);
}

.sub-main-validi button {
    color: #fff;
    background: #0CBF86;
    border: none;
    padding: 13px 0;
    margin-top: 30px;
    outline: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 2px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.49);
}

.sub-main-validi button:hover {
    background: #000;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*--placeholder-color--*/

::-webkit-input-placeholder {
    color: #d4d4d4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4;
}

:-ms-input-placeholder {
    color: #d4d4d4;
}

/*-- //placeholder-color --*/

/*-- //content --*/

/*-- copyright --*/

.footer {
    margin: 3vw .3vw 2vw;
}

.footer p {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.8;
}

.footer p a {
    color: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer p a:hover {
    color: #0CBF86;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*-- //copyright --*/

/* validate style */

input:not([type="file"]).error,
textarea.error,
select.error {
    border: 1px solid red !important;
}

input:not([type="file"]).no-error,
textarea.no-error,
select.no-error {
    border: 1px solid green !important;
}

div.error-field {
    color: red;
    font-size: small;
    letter-spacing: 1px;
    margin-top: 5px;
}

/* //validate style */

/*--responsive--*/

@media(max-width: 1920px) {
    h1 {
        font-size: 3.5vw;
    }
}

@media(max-width: 800px) {
    .sub-main-validi button {
        margin-top: 10px;
    }
    h1 {
        font-size: 6.5vw;
        margin: 4vw 1vw 4.5vw;
    }
}

@media(max-width: 667px) {
    .footer p {
        letter-spacing: 1px;
    }
}

@media(max-width: 568px) {
    h1 {
        font-size: 2.5em;
    }
    .footer p {
        font-size: 17px;
    }
}

@media(max-width: 440px) {
    h1 {
        font-size: 2.2em;
    }
}

@media(max-width: 384px) {
    h1 {
        font-size: 2em;
        letter-spacing: 1px;
    }
    .sub-main-validi label {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sub-main-validi button {
        margin-top: 0;
    }
    .footer p {
        font-size: 16px;
    }
}

@media(max-width: 320px) {
    h1 {
        font-size: 1.8em;
        margin: 5vw 1vw 5.5vw;
    }
    .form-group {
        margin-bottom: 1.2em;
    }
}

/* Drop down css */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*--//responsive--*/