
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 1px;
font-family: 'Montserrat', sans-serif;
}

body a {
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
   font-family: 'Montserrat', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
   font-family: 'Montserrat', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
	
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
	font-size:14px;
}
ul {
    margin: 0;
    padding: 0;
	list-style-type: none;
}
.lft{    text-align: left;}
.rigt{    text-align: right;}
/*-- //Reset-Code --*/
.title {
    font-size:45px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
}
.wthree-left-right p,.about-jewel-agile-left p,.blog-txt-info p,.addres-office-hour ul li  p,.footer-office-hour p,.footer-office-hour p a,.ser-inner-info p{  
   font-size: 14px;
    color: #fff;
    line-height: 28px;}
.about-jewel-agile-left p,.blog-txt-info p,.bottom-para h6 a,.footer-office-hour p{color:#000;}
.about-jewel-agile-left h4,.blog-txt-info h4 a,.team-w3layouts-info h4,.addres-office-hour ul li h6,.ser-inner-info h4{
    font-size: 19px;
    color:#ea1d5d;
    text-transform: capitalize;
}
/*--Background Colors--*/


/*--//Background Colors--*/

.fun-hedder-up h2 {
    font-size: 26px;
    line-height: 43px;
    color: #000;
    padding: 0em 7em;
}
.clr {
    color: #fff;
}
/*-- header --*/
/*--Hedder-contact--*/

.header-outs {
	position:relative;
}
.header-w3layouts {
    position: absolute;
    z-index: 99;
	width:100%;
}
.headder-contact {
    padding: 1em 0em;
    background: transparent;
}
.info-contact-agile ul li,.icons ul li,.news-date ul li,.list-social-icons ul li,.news-bloger ul li{
	display:inline-block;
}
.info-contact-agile ul li p,.info-contact-agile ul li p a.addres-office-hour ul li p a{
    font-size: 13px;
    color: #fff;
    display: inline-block;
    letter-spacing: 2px;
}
.info-contact-agile ul li p a:hover{color:#ea1d5d;}
.info-contact-agile ul li span,.news-date ul li span,.list-social-icons ul li span{
    font-size: 15px;
    color: #ea1d5d;
    margin-right: 7px;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.info-contact-agile ul li:nth-child(1) {
    margin-right: 10px;
}
.icons ul li a span {
    font-size: 15px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0px 10px;
    color:#fff;
    background:transparent;
    line-height: 38px;
    border-radius: 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icons ul li a span:hover,.addres-office-hour ul li p a:hover{
color:#ea1d5d;
}
.icons {
    text-align: right;
}
.info-contact-agile {
    padding-top: 9px;
}
/*--//Hedder-contact--*/
/*-- nav --*/
.header-outs {
	position:fixed;
}
.headdser-nav-color {
    background:#ea1d5d;
    width:100%;
    padding: 1em;
}
.hedder-up {
    background: #000;
    border: 1px;
   /*  border-right: 2px solid #0529f3; */
    padding: 2px 2em;
    /* border-left: 1.5px solid #0529f3; */
}
h1 a.navbar-brand {
    padding-top: 7px;
    font-size: 37px;
    color: #fff !important;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-right: 0px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 7em;
    background:rgba(255, 255, 255, 0.6);
    z-index: 999;
    position: absolute;
    width: 100%;
    top:70px;
    left: 0px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#000;
    border: none;
    border-bottom: 1px solid #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
     margin: 0px 8px;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 0px 14px 5px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#000;
	border:none;
	border-bottom:1px solid #fff;
}
.navbar-light .navbar-nav.active>.nav-link,
.navbar-light .navbar-nav.nav-link.active, 
.navbar-light .navbar-nav.nav-link.open, 
.navbar-light .navbar-nav .open>.nav-link {
    color:#000;
}
/*-- //nav --*/
/*-- Heading-1 --*/
/*-- banner --*/ 
.one-img{  background: url(../images/b1.jpg)no-repeat center;}
.two-img{  background: url(../images/b2.jpg)no-repeat center;}
.three-img{  background: url(../images/b3.jpg)no-repeat center;}
.four-img{  background: url(../images/b4.jpg)no-repeat center;} 
.slider-img{  background-size: cover;
min-height: 800px;}  
.rslides {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}
.rslides li {
-webkit-backface-visibility: hidden;
position: absolute;
display: none;
width: 100%;
left: 0;
top: 0;
}
.rslides li:first-child {
position: relative;
display: block;
float: left;
}
.rslides img {
display: block;
height: auto;
float: left;
width: 100%;
border: 0;
}
/*-- //banner Slider --*/
.rslides {
margin: 0 auto 40px;
}
#slider2,
#slider3 {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin: 0 auto;
}
.rslides_tabs {
list-style: none;
padding: 0;
background: rgba(0,0,0,.25);
box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
font-size: 18px;
list-style: none;
margin: 0 auto 50px;
max-width: 540px;
padding: 10px 0;
text-align: center;
width: 100%;
}
.rslides_tabs li {
display: inline;
float: none;
margin-right: 1px;
}
.rslides_tabs a {
width: auto;
line-height: 20px;
padding: 9px 20px;
height: auto;
background: transparent;
display: inline;
}
.rslides_tabs li:first-child {
margin-left: 0;
}
.rslides_tabs .rslides_here a {
background: rgba(255,255,255,.1);
color: #fff;
font-weight: bold;
}
a {
color: #fff;
text-decoration: none;
}
/* Callback example */
/*.events {
list-style: none;
}*/
.callbacks_container {
position: relative;
float: left;
width: 100%;
}
.callbacks {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}
.callbacks li {
position: absolute;
width: 100%;
left: 0;
top: 0;
}
.callbacks img {
display: block;
position: relative;
z-index: 1;
height: auto;
width: 100%;
border: 0;
}
.callbacks .caption {
display: block;
position: absolute;
z-index: 2;
font-size: 20px;
text-shadow: none;
color: #fff;
background: #000;
background: rgba(0,0,0, .8);
left: 0;
right: 0;
bottom: 0;
padding: 10px 20px;
margin: 0;
max-width: none;
}
.slider-info {
padding:23em 0 0;
}
.slider-info h5 {
    font-size:53px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 7px #000000;
}
.slider-info h4 {
    color: #ffffff;
    padding-bottom: 29px;
    font-size: 20px;
    font-weight: 600;
}
.slider-info p{color:#fff;
font-size:15px;
letter-spacing:2px;
line-height:29px;}
.outs_more-buttn a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 2px;
    background-color: #ea1d5d;
    outline: none;
    font-weight: bold;
    padding: 9px 42px;
    border: 2px solid #ffffff;
    margin-top: 17px;
}
.outs_more-buttn a:hover,.view a.info:hover,.sent-butnn button:hover,.btn1:hover{
background:#000;
border:2px solid #000;}
.callbacks_nav {
position: absolute;
-webkit-tap-highlight-color: rgba(0,0,0,0);
top:60%;
left: 0;
opacity: 0.7;
z-index: 3;
text-indent: -9999px;
overflow: hidden;
text-decoration: none;
height: 53px;
width: 53px;
background:rgba(230, 230, 230, 0) url("../images/left-arrow.png") no-repeat left top;
margin-top: -45px;
}
.callbacks_nav:active {
opacity: 1.0;
}
.callbacks_nav.next {
left: auto;
background:rgba(230, 230, 230, 0)  url("../images/right-arrow.png") no-repeat 0px 0px;
background-position: right top;
right: 0;
}
.callbacks_nav ,
.callbacks_nav.next {
background-size:40px;
}
/*#slider3-pager a {
display: inline-block;
}
#slider3-pager img {
float: left;
}
#slider3-pager .rslides_here a {
background: transparent;
box-shadow: 0 0 0 2px #666;
}
#slider3-pager a {
padding: 0;
}*/
/*--pager--*/
/*.callbacks_tabs {
list-style: none;
position: absolute;
padding: 0;
bottom: 228px;
right: 41%;
margin: 0;
z-index: 9;
display: block;
text-align: center;
}
.callbacks_tabs li {
display: inline-block;
margin: 0px 2px 0px;
}
.callbacks_tabs a {
visibility: hidden;
}
.callbacks_tabs a:after {
content: "\f111";
font-size: 0;
font-family: FontAwesome;
visibility: visible;
display: block;
width: 21px;
height: 21px;
display: inline-block;
background:#d24055;
border: none;
border-radius: 50%;
}
.callbacks_here a:after {
background: #fff;
border: 4px solid #d24055;
}*/
/*-- //banner --*/
/*-- about --*/
.about-txt-img img {
    box-shadow:8px 7px 3px 6px #9e9e9e;
    border-radius: 0px;
}
.about-jewel-agile-left h5 {
    font-size: 32px;
    padding: 23px 0px 0px;
    color:#ea1d5d;
}
/*--hover effects-- */
.view {
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   /*background: #fff url(../images/bgimg.jpg) no-repeat center center;*/
}
.view .mask, .view .content {
   width:100%;
    height: 306px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
  /* display: block;*/
   position: relative;
}
.view h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #ea1d5d;
    margin: 39px 10px 20px;
}
.view p {
   font-size: 13px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
   line-height:28px;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #ea1d5d;
    color: #fff;
    border: 2px solid #fff;
    font-size: 14px;
    /* text-transform: uppercase; */
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}
.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
/*--//hover effects-- */

/*--Tabs-- */
ul.resp-tabs-list{
    text-align: center;
}
.resp-tabs-list li {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    padding: 13px 30px;
    margin: 0;
    list-style: none;
    background: #000;
    cursor: pointer;
    color: #fff;
}
.resp-tabs-container {
padding: 0px;
background-color: #fff;
clear: left;
}
h2.resp-accordion {
cursor: pointer;
padding: 5px;
display: none;
font-size: 14px;
border: 1px solid;
background:#ea1d5d;
}
.resp-tab-content {
display: none;
padding:0px 0px 15px;
}
.resp-tab-active {
border: 1px solid #c1c1c1;
border-bottom: none;
margin-bottom: -1px !important;
}
.resp-tab-active {
    border: none;
    background-color: #ea1d5d !important;
    color: #000;
}
.resp-content-active,
.resp-accordion-active { display: block; }
.resp-tab-content { border:none; }
h2.resp-accordion {
font-size: 14px;
border: 1px solid #c1c1c1;
border-top: 0px solid #c1c1c1;
margin: 0px;
padding: 10px 15px;
color: #000;
}
h2.resp-tab-active {
border-bottom: 0px solid #c1c1c1 !important;
margin-bottom: 0px !important;
padding: 10px 15px !important;
font-size: 14px;
}
h2.resp-tab-title:last-child {
border-bottom: 12px solid #c1c1c1 !important;
background: blue;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active { background:#c1c1c1!important; }
.resp-easy-accordion h2.resp-accordion { display: block; }
.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }
.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
.resp-jfit {
width: 100%;
margin: 0px;
}
.resp-tab-content-active { display: block; }
h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list { display: none; }
h2.resp-accordion { display: block; }
.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }
.resp-vtabs .resp-tabs-container {
border: none;
float: none;
width: 100%;
min-height: initial;
clear: none;
}
.resp-accordion-closed { display: none !important; }
.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
/*--//Tabs-- */
/*-- //about --*/
/*-- service --*/
.service{background: url(../images/b2.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.text-wls-ser-bake span {
    font-size:38px;
    border-radius: 50%;
    color:#fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.white-shadow:hover span.banner-icon {
transition: 0.90s;
    -webkit-transition: 0.90s;
    -moz-transition: 0.90s;
    -ms-transition: 0.90s;
    -o-transition: 0.90s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.white-shadow {
    background:rgba(0, 0, 0, 0.5);
    padding: 2em 1em;
}
/*--//service --*/
/*-- blog--*/

.blog-txt-info {
    background: #fff;
    padding: 1em 1em;
}
.news-date ul li a {
    letter-spacing: 2px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    font-size:12px;
}
.clients-color,.team-shadow {
box-shadow: 2px 0px 20px 0px #757575;
}
/*-- //blog--*/
/*-- count--*/
.stats{
    background: url(../images/cc1.jpg)no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.counter {
font-size: 23px;
color: #000;
font-weight: 500;
letter-spacing: 1px;
}
.stat-info h5,.dance-agile-info h4,.ser-inner-info h4{
font-size:19px;
line-height: 33px;
color:#fff;
text-transform: uppercase;
}
.stats-grid {
    background: #ea1d5d;
    padding: 3em 2em;
    border-radius: 5%;
}
/*-- //counter --*/
/*-- //count--*/
/*--team --*/
.team-w3layouts-info {
    background: #ea1d5d;
}
.bodr-img h4 {
    font-size: 27px;
    color: #ffeb3b;
    padding-bottom: 47px;
}
.bodr-img p {
    font-size: 16px;
    line-height: 28px;
    color: #d0d0d0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color:rgba(0, 0, 0, 0.5803921568627451);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul {
    position: absolute;
    z-index: 2;
    top: 225px;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    height: 0px;
    margin: 0px;
    opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul {
    opacity: 1;
    margin-bottom: 15px;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li {
    border-color: #fff;
    color: #ff5722;
}
.img-box img {
    width: 100%;
}

.list-social-icons ul li span:hover{color:#969696;}
span.wls-client-title{font-size:15px;
}
/*--//team --*/
.newsletter input[type="email"] {
    outline: none;
    padding: 13px 15px;
    color: #000;
    font-size: 14px;
    width: 80%;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #000;
}
button.btn1 {
    width: 20%;
    color: #fff;
    border: 1px solid #000;
    padding: 11.5px 0;
    font-size: 16px;
	border:2px solid #000;
    background:#ea1d5d;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
}
.subscrib-w3layouts h2 {
    color: #000;
    font-size:38px;
    text-transform: uppercase;
}
.newsletter input::-webkit-input-placeholder { /* Chrome */
color: #000;
}
.newsletter inputl:-ms-input-placeholder { /* IE 10+ */
color: #000;
}
.newsletter input::-moz-placeholder { /* Firefox 19+ */
color: #000;
opacity: 1;
}
.newsletter input:-moz-placeholder { /* Firefox 4 - 18 */
color: #000;
opacity: 1;
}
/*--contact --*/
.contact {
    background: url(../images/b2.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.addres-office-hour {
    background: #000;
    padding: 2em 0em;
}
.contact-forms input,.contact-forms textarea {
    width: 100%;
    font-size: 14px;
    color: #fff;
    padding: .8em .7em;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0px;
    background: transparent!important;
    outline: none !important;
}
.contact-forms textarea {
resize: none;
height:8em;
}
.contact-forms input::-webkit-input-placeholder,.contact-forms textarea::-webkit-input-placeholder{ /* Chrome */
color: #fff;
}
.contact-forms input:-ms-input-placeholder,.contact-forms textarea :-ms-input-placeholder{ /* IE 10+ */
color: #fff;
}
.contact-forms input::-moz-placeholder,.contact-forms textarea::-moz-placeholder { /* Firefox 19+ */
color: #fff;
opacity: 1;
}
.contact-forms input:-moz-placeholder,.contact-forms textarea:-moz-placeholder{ /* Firefox 4 - 18 */
color: #fff;
opacity: 1;
}
.sent-butnn button {
    width: 100%;
    font-size: 16px;
    padding: 11px 0px;
    color: #fff;
    font-weight: 600;
	letter-spacing: 2px;
    text-transform: uppercase;
    margin-top:24px;
    background: #ea1d5d;
	border:2px solid #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
/*--//contact --*/
/*--Footer --*/
.footer,footer,.blog{
    background:#e6e6e6;
}
.nav-footer{background:#000;}
.address_mail_footer_grids iframe {
    width: 100%;
    height: 15.5em;
    border: none;
}
.bottom-para h6 a{
    font-size: 13px;
    line-height: 23px;
    color: #000;
	}
.footer-office-hour ul li span {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #565656;
}
.bottom-para h6 a:hover,.footer-office-hour p a:hover{color:#000;}
.news-bloger ul li a {
    font-size:12px;
    color:#ea1d5d;
    padding-top: 4px;
    display: block;
}
.dance-agile-info h4,.ser-inner-info h4 {
    color:#ea1d5d;
}
footer p {
font-size: 14px;
color: #000;
letter-spacing: 2px;
}
footer p a {
    color: #ea1d5d;
}
footer p a:hover {
color:#000;
text-decoration:underline;
}
.nav-link:focus, .nav-link:hover {
color:#ea1d5d;
text-decoration: none;
}
nav.border-line {
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
}
.nav-link {
font-size: 14px;
color: #fff;
letter-spacing: 2px;
}
.footer-office-hour p a{color:#ea1d5d;}
/*--//footer nav--*/
/*--//Footer --*/
/*--mode--*/
.modal-body p {
font-size: 14px;
color: #000;
padding: 16px;
line-height: 27px;
}
.modal-header h4 {
color:#ea1d5d;
text-align: center !important;
font-size: 35px;
}
/*--//mode--*/
/*-- to-top --*/
#toTop {
display: none;
text-decoration: none;
position: fixed;
bottom: 20px;
right: 2%;
overflow: hidden;
z-index: 999; 
width: 46px;
height:46px;
border: none;
text-indent: 100%;
background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
width: 43px;
height: 43px;
display: block;
overflow: hidden;
float: right;
opacity: 0;
-moz-opacity: 0;
filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	.slider-img {
    min-height: 680px;
}
.slider-info {
    padding: 19em 0 0;
}
.slider-info h5 {
    font-size: 48px;
}
.slider-info h4 {
    padding-bottom: 24px;
font-size: 18px;
	
}
h1 a.navbar-brand {
padding-top: 8px;
    font-size: 35px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 6em;
}
.view h3 {
    margin: 26px 10px 15px;
}
.view h3 {
    font-size: 16px;
}
.resp-tabs-list li {
    padding: 11px 26px;
}
.about-jewel-agile-left h5 {
    font-size: 30px;
}
.title {
    font-size: 43px;
}
.ser-inner-info h4 {
    font-size: 18px;
}
.subscrib-w3layouts h2 {
    font-size: 36px;
}
.counter {
    font-size: 21px;
}
.img-box ul {
    top: 216px;
}
.callbacks_nav {
    top: 63%;
}
}
@media(max-width:1366px){
	.title {
    font-size: 40px;
}
.text-wls-ser-bake span {
    font-size: 35px;
}
.about-jewel-agile-left h4, .blog-txt-info h4 a, .team-w3layouts-info h4, .addres-office-hour ul li h6, .ser-inner-info h4 {
    font-size: 18px;
}
.outs_more-buttn a {
    padding: 9px 38px;
    margin-top: 15px;
}
.stats-grid {
    padding: 2.5em 2em;
}
}
@media(max-width:1280px){
	.callbacks_nav, .callbacks_nav.next {
    background-size: 35px;
}
.headdser-nav-color {
    padding: .9em;
}
h1 a.navbar-brand {
    padding-top: 7px;
    font-size: 34px;
}
.icons ul li a span {
    margin: 0px 8px;
}
.about-jewel-agile-left h5 {
    font-size: 29px;
}
.modal-header h4 {
    font-size: 33px;
}
.hedder-up {
    padding: 0px 1.5em;
}
}
@media(max-width:1080px){
.slider-info {
    padding: 17em 0 0;
}
.slider-img {
    min-height: 600px;
}
.slider-info h4 {
    padding-bottom: 18px;
}
.slider-info h5 {
    font-size: 45px;
}
.view p {
    padding: 6px 16px 9px;
    line-height: 21px;
}
.view h3 {
    margin: 13px 10px 10px;
	padding: 8px 0px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 4em;
}
.resp-tabs-list li {
    font-size: 15px;
}
.about-jewel-agile-left h5 {
    font-size: 27px;
    padding: 16px 0px 0px;
}
.title {
    font-size: 38px;
}
.news-date ul li a {
    letter-spacing: 1px;
}
.img-box ul {
    top: 183px;
}
.addres-office-hour {
    padding: 1.7em 0em;
}
.sent-butnn button {
    font-size: 15px;
    margin-top: 20px;
}
.bottom-para h6 a {
    font-size: 12px;
    line-height: 22px;
}
}
@media(max-width:1050px){
	.callbacks_nav, .callbacks_nav.next {
    background-size: 31px;
}
.headder-contact {
    padding: .7em 0em;
}
nav.navbar.navbar-expand-lg.navbar-light {
    top: 59px;
}
h1 a.navbar-brand {
    font-size: 32px;
}
.navbar-light .navbar-nav .nav-link {
    letter-spacing: 1px;
}
.headdser-nav-color {
    padding: .8em;
}
.text-wls-ser-bake span {
    font-size: 32px;
}
.blog-txt-info {
    padding: .7em .7em;
}
.stats-grid {
    padding: 2em 2em;
}
}
@media(max-width:1024px){
	.icons ul li a span {
    margin: 0px 6px;
}
.hedder-up {
    padding: 0px 1em;
}
.slider-info p {
    font-size: 14px;
    line-height: 29px;
}
	.outs_more-buttn a {
    padding: 9px 34px;
    margin-top: 12px;
}
.newsletter input[type="email"] {
    width: 75%;
}
button.btn1 {
    padding: 9px 0;
    font-size: 15px;
}
.subscrib-w3layouts h2 {
    font-size: 34px;
}
}
@media(max-width:991px){

div#navbarSupportedContent {
background: transparent;
text-align: center;
padding: 13px 0px;
}
.navbar-light .navbar-nav .nav-link {
    padding: 12px 15px;
    width: 11%;
    margin: 0px auto;
}
.navbar-light .navbar-toggler {
border-color: rgb(0, 0, 0);
background:#ea1d5d;
padding: 1px 4px;
margin-top: 0px;
outline: none;
margin-right: 0px;
cursor: pointer;
border-radius: 6px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.navbar-light .navbar-toggler:hover {
background: #fff;
}	
.headdser-nav-color {
    padding: .5em;
}
.slider-img {
    min-height: 580px;
}
.slider-info h5 {
    font-size: 40px;
}
.slider-info h4 {
    padding-bottom: 12px;
}
.modal-header h4 {
    font-size: 30px;
}
.view .mask, .view .content {
    width: 58%;
	left: 192px;
}
.info-contact-agile {
    padding-top: 7px;
}
.w3layouts-service-list:nth-child(3),.blog-grid-flex:nth-child(3),
.stats-grid-3,.stats-grid-4,.profile:nth-child(3),
.profile:nth-child(4),.dance-agile-info:nth-child(3),.dance-agile-info:nth-child(4),.view:nth-child(2),.view:nth-child(3){
    margin-top: 24px;
}
.nav-link {
    letter-spacing: 1px;
}
.callbacks_nav {
    top: 66%;
}
}
@media(max-width:900px){
	.view h3 {
    margin:43px 10px 32px;
	}
	.view p {
    padding: 13px 16px 37px;
	}
	.text-wls-ser-bake span {
    font-size: 30px;
}
.title {
    font-size: 36px;
}
.modal-header h4 {
    font-size: 28px;
}
.stat-info h5, .dance-agile-info h4, .ser-inner-info h4 {
    font-size: 18px;
}
.img-box ul {
    top: 280px;
}
.stats-grid {
    padding: 1.5em 2em;
	line-height: 26px;
}
.subscrib-w3layouts h2 {
    font-size: 33px;
}
}
@media(max-width:800px){
.navbar-light .navbar-nav .nav-link {
    width: 16%;
	}
	.icons ul li a span {
    font-size: 14px;
	}
	.callbacks_nav, .callbacks_nav.next {
    background-size: 26px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 3em;
}
.view .mask, .view .content {
    width: 64%;
    left: 141px;
}
.about-jewel-agile-left h5 {
    font-size: 25px;
}
.stat-info h5, .dance-agile-info h4, .ser-inner-info h4 {
    font-size: 17px;
}
.sent-butnn button {
    padding: 9px 0px;
}
}
@media(max-width:768px){
	.slider-img {
    min-height: 560px;
}
.slider-info {
    padding: 16em 0 0;
}
h1 a.navbar-brand {
    font-size: 30px;
}
.slider-info h5 {
    font-size: 36px;
    letter-spacing: 1px;
}
.view .mask, .view .content {
    width: 67%;
    left: 127px;
}
button.btn1 {
    width: 25%;
}
footer p {
letter-spacing: 1px;
}
}
@media(max-width:767px){
	.about-jewel-agile-left h4, .blog-txt-info h4 a, .team-w3layouts-info h4, .addres-office-hour ul li h6, .ser-inner-info h4 {
    font-size: 17px;
}
/*.latest-list {
    margin: 20px 0px;
}*/
.latest-list:nth-child(2),.latest-list:nth-child(4){
    margin-top: 20px;
}
.latest-list:nth-child(1),.latest-list:nth-child(3){
    margin-bottom: 20px;	
}
.about-jewel-agile-left h5 {
	    font-size: 24px;
}
.title {
    font-size: 34px;
}
.info-contact-agile ul li span, .news-date ul li span, .list-social-icons ul li span {
    font-size: 14px;
}
.outs_more-buttn a {
    padding: 8px 32px;
}
.counter {
    font-size: 19px;
}
.subscrib-w3layouts h2 {
    font-size: 31px;
    margin-bottom: 20px;
}
.img-box ul {
    top: 193px;
}
span.wls-client-title {
    font-size: 14px;
}
.addres-office-hour {
    padding: 1.5em 0em;
    margin-bottom: 20px;
}
}
@media(max-width:736px){
.contact-forms textarea {
    height: 7em;
}
.navbar-light .navbar-nav .nav-link {
    width: 18%;
}
footer p {
    font-size: 13px;
}
}
@media(max-width:667px){
	.icons ul li a span {
    margin: 0px 4px;
}
.slider-img {
    min-height: 494px;
}
.slider-info {
    padding: 15em 0 0;
}
.slider-info h5 {
    margin-bottom: 8px;
	font-size: 34px
}
.slider-info h4 {
    padding-bottom: 10px;
    font-size: 17px;
}
h1 a.navbar-brand {
    font-size: 28px;
}
.view .mask, .view .content {
    width: 77%;
    left: 77px;
}
.contact-forms input, .contact-forms textarea {
    padding: .7em 0em;
	}
	.modal-header h4 {
    font-size: 26px;
}
}
@media(max-width:640px){
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 1em 2em;
}
.view .mask, .view .content {
    width: 80%;
    left: 62px;
}	
.title {
    font-size: 32px;
}
.callbacks_nav {
    top: 70%;
}
}
@media(max-width:600px){
	.navbar-light .navbar-nav .nav-link {
    width: 23%;
}
.view .mask, .view .content {
    width: 86%;
    left: 42px;
}
.about-jewel-agile-left h5 {
    font-size: 22px;
    padding: 12px 0px 0px;
}
.stat-info h5, .dance-agile-info h4, .ser-inner-info h4 {
    line-height: 26px;
}
}
@media(max-width:568px){
	.info-contact-agile ul li{
display:block;
text-align: center;
}
.icons {
    text-align: center;
}	
nav.navbar.navbar-expand-lg.navbar-light {
    top: 108px;
	padding: 1em 1em;
}
.slider-info {
    padding: 17em 0 0;
    margin-left: 27px;
}
.slider-info h5 {
    font-size: 32px;
}
.callbacks_nav {
    top: 75%;
}
.view .mask, .view .content {
    width: 91%;
    left: 25px;
}
.subscrib-w3layouts h2 {
    font-size: 30px;
}
.profile {
    width: 50%;
}
.address_mail_footer_grids iframe {
    height: 14em;
}
.w3layouts-service-list:nth-child(1),.blog-grid-flex:nth-child(1),.dance-agile-info:nth-child(1) {
    margin-bottom:20px;
}
.callbacks_nav {
    height: 29px;
    width: 30px;
}
}
@media(max-width:480px){
.navbar-light .navbar-nav .nav-link {
    width: 27%;
}
.view .mask, .view .content {
    width: 94%;
    left: 14px;
}
.about-jewel-agile-left h5 {
    font-size: 20px;
}	
.stats-grid {
    padding: 1em 1em;
    line-height: 23px;
}
.nav-link {
    font-size: 13px;
}
.view p {
    padding: 13px 16px 28px;
}
.img-box ul {
    top: 160px;
}
}
@media(max-width:440px){
	.view .mask, .view .content {
    left: 11px;
}
.view h3 {
    margin: 34px 10px 19px;
}
.title {
	    font-size: 30px;
    letter-spacing: 2px;
}
.about-jewel-agile-left h4, .blog-txt-info h4 a, .team-w3layouts-info h4, .addres-office-hour ul li h6, .ser-inner-info h4 {
    font-size: 16px;
}
.subscrib-w3layouts h2 {
    font-size: 27px;
}
.newsletter input[type="email"] {
    padding: 8px 15px;
}
.img-box ul {
    top: 141px;
}
ul.nav {
    flex-direction: column;
    text-align: center;
}
}
@media(max-width:414px){
.view h3 {
    margin: 27px 10px 11px;
}
.view p {
    padding: 10px 16px 19px;
}
.stat-info h5, .dance-agile-info h4, .ser-inner-info h4 {
    line-height: 23px;
}	
button.btn1 {
    padding: 6px 0;
	    width: 29%;
}
.newsletter input[type="email"] {
    width: 71%;
}
footer p {
    line-height: 28px;
}
.navbar-light .navbar-nav .nav-link {
    width: 31%;
}
.slider-info {
    margin-left: 18px;
}
}
@media(max-width:384px){
	.slider-info h5 {
    font-size: 29px;
}
.slider-info p {
    letter-spacing: 1px;
}
.about-jewel-agile-left h5 {
    font-size: 19px;
}
.title {
    font-size: 28px;
    letter-spacing: 1px;
}
.img-box ul {
    top: 166px;
}
.profile {
    width: 66%;
    margin: 0px auto;
}
.profile:nth-child(1){
	margin-bottom:20px;
}
}
@media(max-width:375px){
	h1 a.navbar-brand {
    font-size: 26px;
}
.slider-info h5 {
    font-size: 27px;
}
.outs_more-buttn a {
    padding: 7px 25px;
}
.subscrib-w3layouts h2 {
    font-size: 25px;
}
.sent-butnn button {
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link {
    width: 38%;
}
.profile {
    width: 75%;
}
}
@media(max-width:320px){
.slider-info h5 {
    font-size: 22px;
}
.slider-img {
    min-height: 493px;
}
.slider-info h4 {
    padding-bottom: 8px;
    font-size: 16px;
}
.view h3 {
    margin:13px 10px 11px;
}
.view p {
    padding: 2px 10px 10px;
}
.view a.info {
    font-size: 13px;
}	
.profile {
    width: 90%;
}
.img-box ul {
    top: 189px;
}
}
/*--//responsive--*/